\.vscode
0-hello-world.exe
1-real-converter.exe
2-celsius-kelvin-converter.exe
3-radius-length-converter.exe
4-radius-area-converter.exe
5-wage-adjustment.exe
6-letters.exe
7-imc.exe
8-average.exe
9-odd-or-even.exe
10-instruction-errors.exe
11-the-biggest-and-smallest.exe
12-divisor.exe