\.vscode
00-hello-world.exe
01-calculator-real-converter.exe
02-calculator-celsius-kelvin-converter.exe
03-calculator-radius-length-converter.exe
04-calculator-radius-area-converter.exe
05-calculator-wage-adjustment.exe
06-char-if-char-converter.exe
07-calculator-imc.exe
08-calculator-if-school-average.exe
09-if-odd-or-even.exe
10-abstract-instruction-errors.exe
11-challenge-the-biggest-and-smallest.exe
12-checker-divisor.exe
20-abstract-print-codes.exe
21-formater-output.exe
22-calculator-if-discounts.exe
23-checker-switch-months.exe
24-calculator-switch-natality-mortality.exe
25-calculator-if-discounts.exe
26-checker-if-genre.exe
